/vendor/
/node_modules/
/dist/
/build/
/.svelte-kit/
/.vite/
/target/
/.idea/
/.vscode/
.env
.env.*
!.env.example
*.log
.DS_Store
Thumbs.db
web/backend/storage/logs/*.log
web/backend/database/*.sqlite
app/src-tauri/target/
web/backend/
